.input_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.input_header_title {
  font-weight: bold;
}

.input_header_link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 12px;
  padding: 0;
}

.input_header_link:hover {
  color: #0056b3;
}

.input_hint {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
  font-style: italic;
  margin-left: 10px;
}

.input_box {
  min-width: 300px;
  max-width: 400px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.input_error {
  color: red;
  margin-bottom: 20px;
}
