:root {
  --custom-background-color: #d98c8c;
  --custom-text-color: #ffffff;
  --custom-button-background: #303030;
}

[data-theme='DarkMode'] {
  --primary-color: #9c6ada;
  --secondary-color: #03dac6;
  --header-background: #2c2d5d; 
  --background-color: #090822;
  --text-color: #efefeff3;
  --button-background: rgb(143, 98, 239);
  --nav-button: #03dac6;
  --button-hover: rgb(73, 43, 137);
  --nav-selected: #2c2d5d;
  --border-color: #efefeff3;
  --search-color: #58a49d;
  --order-button:#efefeff3;
  --order-button-selected: #9c6ada;
  --tags-page-border: #6751ae;
  --comment-section-background: #2c2d5d; 
  --comment-item-background: #505180;
  --comment-text-area-color: #505180;
  --tag-label: #aebcf9;
  --tag-background: #77538492;
  --answer-question-meta: #bbbbbb;
  --question-background: rgba(138, 114, 200, 0.15);
  --box-shadow: rgba(255, 255, 255, 0.1);
  --toggle-on:#03dac6;
  --toggle-off: #42394d;
  --toggle-font: #efefeff3;
  --toggle-label: #efefeff3;
}
[data-theme='LightMode'] {
  --primary-color: #3089e8;
  --secondary-color: #0056b3;
  --header-background: #b2b2b2; 
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #3090e2;
  --nav-button: cornflowerblue;
  --button-hover: #0056b3;
  --nav-selected: #cccccc;
  --border-color: #000000;
  --search-color: #474747f3;
  --order-button:#ffffff;
  --order-button-selected: #3089e8;
  --tags-page-border: #000000;
  --comment-section-background: #c2c2c2;
  --comment-item-background: #fff;
  --comment-text-area-color: #fff;
  --tag-label: #3c4776;
  --tag-background: #397dc54b;
  --answer-question-meta: #bbbbbb;
  --question-background: rgba(125, 126, 127, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --toggle-on:#4caf50;
  --toggle-off: #556069;
  --toggle-font: #efefeff3;
  --toggle-label: #000000;
}
[data-theme='Pastel'] {
  --primary-color: #FFB5E8;
  --secondary-color: #af0375;
  --header-background: #a8d1d1;
  --background-color: #e5a8e9;
  --text-color: #000000;
  --button-background: #fda173;
  --nav-button: #000000;
  --button-hover: #fc7676;
  --nav-selected: #a9e6a8;
  --border-color: #A5E3FF;
  --search-color: #af0375;
  --order-button:#A79AFF;
  --order-button-selected: #FFB5E8;
  --tags-page-border: #1992cf;
  --comment-section-background: #a4f9bf;
  --comment-item-background: #f483e5;
  --comment-text-area-color: #f2df9b;
  --tag-label: #890000;
  --tag-background: #ff828292;
  --answer-question-meta: #09841d;
  --question-background: rgba(184, 201, 225, 0.534);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --toggle-on:#fda173;
  --toggle-off: #6f8883;
  --toggle-font: #000000;
  --toggle-label: #000000;
}
[data-theme='Autumn'] {
  --primary-color: #bd1e13;
  --secondary-color: #c15e20;
  --header-background: #4e1119; 
  --background-color: #7A1825;
  --text-color: #DDC084;
  --button-background: #E5AC3B;
  --nav-button: #e98644;
  --button-hover: #C98133;
  --nav-selected: #550e0e;
  --border-color: #395A42;
  --search-color: #C98133;
  --order-button:#D23735;
  --order-button-selected: #bd1e13;
  --tags-page-border: #938A5D;
  --comment-section-background: #1b2E26;
  --comment-item-background: #474c32;
  --comment-text-area-color: #474c32;
  --tag-label: #ffecec;
  --tag-background: #eda75192;
  --answer-question-meta: #81ab88;
  --question-background: rgba(9, 8, 8, 0.236);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --toggle-on:#88d094;
  --toggle-off: #6c5f47;
  --toggle-font: #2E0d33;
  --toggle-label: #E2BF84;
}
[data-theme='Custom'] {
  --primary-color: var(--custom-text-color);
  --secondary-color: var(--custom-text-color);
  --header-background: var(--custom-button-background);
  --background-color: var(--custom-background-color);
  --text-color: var(--custom-text-color);
  --button-background: var(--custom-button-background);
  --nav-button: var(--custom-button-background);
  --button-hover: #fffcfc59;
  --nav-selected: var(--custom-button-background);
  --border-color: #000000;
  --search-color: var(--custom-text-color);
  --order-button:#ffffff;
  --order-button-selected: var(--custom-button-background);
  --tags-page-border: #000000;
  --comment-section-background: #ffffff50;
  --comment-item-background:  #ababab5d;
  --comment-text-area-color: #ababab5d;
  --tag-label: var(--custom-text-color);
  --tag-background: var(--custom-button-background);
  --tag-border-color: var(--custom-text-color);
  --answer-question-meta: var(--custom-text-color);
  --question-background: var(--custom-button-background);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --toggle-on: #4caf50;
  --toggle-off: #556069;
  --toggle-font: #efefeff3;
  --toggle-label: var(--custom-text-color);
}

* {
  font-family: Arial, Times, 'Times New Roman', Times, serif, 'Courier New', Courier, monospace;
}

html {
  height: 99%;
}

body,
#root {
  height: 100vh;
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--text-color);
}
