:root {
    --font-family: Arial;
    --font-size: medium;
    --font-weight: normal;
  }
  
  h1 {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
  }
  
  label {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
  }
  
  select {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin-left: 5px;
  }

  
  .settings-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    color: var(--text-color);
  }
  
  .settings-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: left;
    margin-bottom: 20px;
    margin-left: 20px;
    color: var(--text-color);
  }

  .settings-row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    color: var(--text-color);
  }
  
  .theme-label {
    margin-right: 10px;
  }
  
  .theme-select {
    padding: 5px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
  }

  .reset-pwd-button {
    background: var(--button-background);
    color: #ffffff;
    border: #000000 1px solid;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    padding: 10px 10px 10px 10px;
    margin-right: 5%;
  }
  
  body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
  }
  