.input_title {
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.input_hint {
  color: var(--text-color);
  margin-bottom: 5px;
  font-style: italic;
  margin-left: 10px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.input_input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.input_error {
  color: red;
  margin-bottom: 20px;
}
