.btn {
  background: transparent;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.menu_button {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-size: calc(var(--font-size) + 2px);
  text-decoration: none;
}

.btn_selected {
  background: var(--primary-color);
  font-weight: bold;
}

.btn:not(.btn_selected):hover {
  background: var(--nav-selected);
}
