.sideBarNav {
  display: flex;
  flex-direction: column;
  width: 15%;
  border-right: 1px solid var(--header-background);
  padding: 4% 0 4% 0;
  align-items: center;
  gap: 50px;
}

.menu_button:first-child {
  margin-top: 0;
}

.menu_button {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-size: calc(var(--font-size) + 2px);
  text-decoration: none;
}

.menu_selected {
  background: var( --nav-selected);
  padding: 15px;
  font-family: var(--font-family);
  font-weight: bold;
}
