.tagNode {
  place-self: center;
  border: var(--tags-page-border) 1px dashed;
  padding: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: var(--tag-background);
}

.tagName {
  color: var(--tag-label);
}
