.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  background: var(--header-background);
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: 'Michroma';
  color: var(--text-color);
  font-size: 80px;
  margin-left: 7vw;
}

.bluebtn {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.SiteLogo {
  height: 100px;
  width: 140px;
}

.logo-title-container {
  display: flex;
  flex-direction: row;
}

.search-settings-TTS-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 20px;
}

