.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  background: var(--header-background);
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-color)
}

.bluebtn {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

